    <h3>Colonies</h3>

          <Button ElementId="AnimalsSearchBar-Button-1" Color="Color.Info" Size="Size.ExtraSmall" Clicked="CovanceNoPicker">Open Picker</Button>

<AnimalPicker @ref="animalPicker"  />